.button-blue {
  background-color: var(--accent-color);
  border-radius: 10px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  height: 44px;
  width: 130px;
  font-size: 14px;
  line-height: 26px;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: color 200ms;
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--accent-color-dark);
}
