.author-card {
  display: flex;
  gap: 10px;
  padding: 5px;
  align-items: center;
  margin: 15px 0;
}

.author-card img {
  border-radius: 50%;
}

.blue {
  color: var(--accent-color)
}

article > main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.figcaption {
  color: var(--font-fade-color);
  line-height: var(--font-fade-line-height);
  font-size: var(--font-fade-size);
}

.button-display {
  display: flex;
  gap: 10px;
  width: 170px;
}

.share-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.share-container ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--accent-color-dark);
}
